*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image :url("fashion.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;    
}